/* variables */
:root {
  --dark-accent-color: rgb(35, 47, 61);
  --light-accent-color: rgb(252, 188, 12);
  --light-bg-color: lightgrey;
  --muted-fg-color: darkgrey;
  --light-color: white;
  --dark-color: black;
  --title-emphasis-color: rgb(43, 147, 190);
}

/* globals/app */
* {
  font-family: sans-serif;
  box-sizing: border-box;
}
body {
  margin: 0px;
}
button {
  cursor: pointer;
}

/* page subheads */
.page-subhead-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-subhead {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.page-subhead-container select {
  color: var(--dark-color);
  margin: 5px;
  padding: 3px;
  text-decoration: none;
  background-color: var(--light-color);
  border-radius: 4px;
  font-size: 12pt;
  border: 2px solid var(--dark-color);
  margin-top: 0px;
  margin-bottom: 5px;
  width: 130px;
}

/* navbar */
.navbar {
  background-color: var(--dark-accent-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar.categories {
  justify-content: center;
  background-color: var(--light-bg-color);
}
.navbar-title {
  color: var(--light-color);
  margin-left: 20px;
}
.navbar button {
  color: var(--dark-color);
  margin: 5px;
  padding: 8px;
  text-decoration: none;
  background-color: var(--light-accent-color);
  border-radius: 4px;
  font-size: 10pt;
  border: none;
}
.navbar.categories button {
  background-color: var(--light-bg-color);
}
.navbar-right-box {
  margin-right: 10px;
  display: flex;
  align-items: center;
}
.navbar-link-container {
  margin-right: 6px;
  display: flex;
  flex-direction: horizontal;
}
.login-message {
  color: var(--light-color);
  text-align: right;
  font-size: 12.5px;
  margin-right: 6px;
  position: relative;
  top: 5px;
}

/* cart button */
.cart-button {
  color: var(--dark-color);
  margin: 5px;
  padding: 8px;
  text-decoration: none;
  background-color: var(--light-accent-color);
  border-radius: 4px;
  font-size: 10pt;
  border: none;
}

/* search bar */
.search-bar form {
  margin: 0px;
  padding: 0px;
  position: relative;
  top: 0px;
}
.search-form-container {
  width: 164px;
}
.search-bar input {
  background-color: var(--light-color);
  font-size: 12pt;
  height: 31px;
  width: 100px;
  border-radius: 5px 0px 0px 5px;
  border: none;
  margin-top: 7.5px;
  padding: 3px;
}
.search-bar button {
  color: var(--dark-color);
  margin: 5px 5px 5px 0px;
  padding: 8px;
  text-decoration: none;
  background-color: var(--light-accent-color);
  border-radius: 0px 5px 5px 0px;
  border: none;
  position: relative;
  top: -0.5px;
  height: 31px;
  font-size: 10pt;
}

/* popup */
.popup-outer-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.418);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
}
.popup {
  background: var(--light-color);
  border: var(--dark-accent-color) solid 4px;
  border-radius: 5px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popup form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popup-form-button {
  color: var(--dark-color);
  margin: 5px;
  padding: 8px;
  text-decoration: none;
  background-color: var(--light-accent-color);
  border-radius: 4px;
  font-size: 12pt;
  border: none;
  width: 180px;
  margin: 10px;
}
.google {
  background-color: rgb(70, 128, 198);
  color: var(--light-color);
}
.popup-close-button {
  border: none;
  background-color: none;
  text-decoration: underline;
  color: blue;
  font-size: 14px;
  margin-top: 10px;
}
.popup input {
  width: 180px;
  background-color: var(--light-color);
  font-size: 12pt;
  height: 31px;
  border-radius: 5px 5px 5px 5px;
  border: none;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 3px;
  border: 1px solid var(--dark-accent-color);
}
.popup label {
  font-size: 14pt;
  margin-top: 10px;
}

/* product card */
.product-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.small-product-card {
  border: 2px solid;
  border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 4px;
  padding: 10px;
  width: 400px;
  display: flex;
  flex-direction: row;
}
.small-product-card-right {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  width: 240px;
}
.small-product-card-image {
  border-radius: 5px;
  width: 150px;
  height: 150px;
}
.small-product-card-title {
  font-size: 16px;
  margin-bottom: 10px;
  color: var(--title-emphasis-color);
}
.small-product-card-price {
  font-size: 15px;
  color: rgb(100, 100, 100);
  margin-bottom: 10px;
}
.small-product-card-description {
  font-size: 12px;
  margin-bottom: 10px;
}
.small-product-card-categories {
  margin-bottom: 10px;
}
.small-category-link {
  color: var(--title-emphasis-color);
  margin: 2px;
  border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
  border-style: solid;
  border-width: 1px;
  padding: 1px 7px 2px;
  border-radius: 3px;
}

/* ORDER VIEWS */
.orders-block {
  width: 90%;
  margin: auto;
}
.order-table {
  border: 2px solid var(--dark-color);
  border-radius: 4px;
  margin-top: 10px;
}
.order-row {
  font-size: 16px;
  background-color: var(--light-bg-color);
  padding: 4px;
  display: flex;
  flex-direction: row;
}
.order-row:hover:not(.header) {
  background-color: var(--dark-accent-color);
  color: var(--light-accent-color);
}
.order-row.header {
  background-color: var(--dark-color);
  color: var(--light-color);
  font-weight: bold;
}
.order-row-item {
  flex: 1;
}

/* Pagination controller */
.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination-button {
  color: var(--dark-color);
  margin: 5px;
  padding: 8px;
  text-decoration: none;
  background-color: var(--light-accent-color);
  border-radius: 4px;
  font-size: 12pt;
  border: none;
  margin: 10px;
}
.pagination-button.disabled {
  background-color: var(--light-bg-color);
  color: var(--muted-fg-color);
  cursor: initial;
}
.page-count-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90px;
}

/* admin menu */
.admin-button-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.admin-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  font-size: 25pt;
}

.cart-products {
  display: flex;
  width: 450px;
  border: 3px solid rgb(0, 0, 0);
  padding: 20px;
  margin: 20px;
  height: 100px;
  background-color: var(--light-accent-color);
}

.cart-box {
  display: flex;
  width: 300px;
  padding: 20px;
  border: 3px solid rgb(0, 0, 0);
  margin: 20px;
  height: 170px;
  background-color: var(--light-accent-color);
}

.cart-total {
  width: 300px;
  padding: 20px;
  margin: 20px;
  height: 450px;
  background-color: var(--light-accent-color);
  border: 3px solid rgb(0, 0, 0);
}

.cart-page-width {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
