/* variables */
:root {
  --dark-accent-color: rgb(35, 47, 61);
  --light-accent-color: rgb(252, 188, 12);
  --light-bg-color: lightgrey;
  --muted-fg-color: darkgrey;
  --light-color: white;
  --dark-color: black;
  --title-emphasis-color: rgb(43, 147, 190);
}

/* globals/app */
* {
  font-family: sans-serif;
  box-sizing: border-box;
}
body {
  margin: 0px;
}
button {
  cursor: pointer;
}

/* page subheads */
.page-subhead-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-subhead {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.page-subhead-container select {
  color: var(--dark-color);
  margin: 5px;
  padding: 3px;
  text-decoration: none;
  background-color: var(--light-color);
  border-radius: 4px;
  font-size: 12pt;
  border: 2px solid var(--dark-color);
  margin-top: 0px;
  margin-bottom: 5px;
  width: 130px;
}

/* navbar */
.navbar {
  background-color: var(--dark-accent-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar.categories {
  justify-content: center;
  background-color: var(--light-bg-color);
}
.navbar-title {
  color: var(--light-color);
  margin-left: 20px;
}
.navbar button {
  color: var(--dark-color);
  margin: 5px;
  padding: 8px;
  text-decoration: none;
  background-color: var(--light-accent-color);
  border-radius: 4px;
  font-size: 10pt;
  border: none;
}
.navbar.categories button {
  background-color: var(--light-bg-color);
}
.navbar-right-box {
  margin-right: 10px;
  display: flex;
  align-items: center;
}
.navbar-link-container {
  margin-right: 6px;
  display: flex;
  flex-direction: horizontal;
}
.login-message {
  color: var(--light-color);
  text-align: right;
  font-size: 12.5px;
  margin-right: 6px;
  position: relative;
  top: 5px;
}

/* cart button */
.cart-button {
  color: var(--dark-color);
  margin: 5px;
  padding: 8px;
  text-decoration: none;
  background-color: var(--light-accent-color);
  border-radius: 4px;
  font-size: 10pt;
  border: none;
}

/* search bar */
.search-bar form {
  margin: 0px;
  padding: 0px;
  position: relative;
  top: 0px;
}
.search-form-container {
  width: 164px;
}
.search-bar input {
  background-color: var(--light-color);
  font-size: 12pt;
  height: 31px;
  width: 100px;
  border-radius: 5px 0px 0px 5px;
  border: none;
  margin-top: 7.5px;
  padding: 3px;
}
.search-bar button {
  color: var(--dark-color);
  margin: 5px 5px 5px 0px;
  padding: 8px;
  text-decoration: none;
  background-color: var(--light-accent-color);
  border-radius: 0px 5px 5px 0px;
  border: none;
  position: relative;
  top: -0.5px;
  height: 31px;
  font-size: 10pt;
}

/* popup */
.popup-outer-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.418);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
}
.popup {
  background: var(--light-color);
  border: var(--dark-accent-color) solid 2px;
  border-radius: 5px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popup form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popup-form-button {
  color: var(--dark-color);
  margin: 5px;
  padding: 8px;
  text-decoration: none;
  background-color: var(--light-accent-color);
  border-radius: 4px;
  font-size: 12pt;
  border: none;
  width: 180px;
  margin: 10px;
}
.google {
  background-color: rgb(70, 128, 198);
  color: var(--light-color);
}
.popup-close-button {
  border: none;
  background-color: none;
  text-decoration: underline;
  color: blue;
  font-size: 14px;
  margin-top: 10px;
}
.popup input {
  width: 180px;
  background-color: var(--light-color);
  font-size: 12pt;
  height: 31px;
  border-radius: 5px 5px 5px 5px;
  border: none;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 3px;
  border: 1px solid var(--dark-accent-color);
}
.popup label {
  font-size: 14pt;
  margin-top: 10px;
}

/* product card */
.product-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.small-product-card {
  border: 2px solid;
  border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 4px;
  padding: 10px;
  width: 400px;
  display: flex;
  flex-direction: row;
}
.small-product-card-right {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  width: 240px;
  justify-content: space-between;
}
.small-product-card-image {
  border-radius: 5px;
  width: 150px;
  height: 150px;
  cursor: pointer;
}
.small-product-card-title {
  font-size: 16px;
  margin-bottom: 5px;
  color: var(--title-emphasis-color);
  cursor: pointer;
}
.small-product-card-price {
  font-size: 15px;
  color: rgb(100, 100, 100);
  margin-bottom: 5px;
}
.small-product-card-description {
  font-size: 12px;
  margin-bottom: 5px;
}

.small-category-link {
  color: var(--title-emphasis-color);
  margin: 1px;
  border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
  font-size: 10px;
  border-style: solid;
  border-width: 1px;
  padding: 1px 7px 2px;
  border-radius: 3px;
}

/* ORDER VIEWS */
.users-block {
  width: 90%;
  margin: auto;
}
.user-table {
  border: 2px solid var(--dark-color);
  border-radius: 4px;
  margin-top: 10px;
}
.user-row {
  font-size: 16px;
  background-color: var(--light-bg-color);
  padding: 4px;
  display: flex;
  flex-direction: row;
}
.user-row.header {
  background-color: var(--dark-color);
  color: var(--light-color);
  font-weight: bold;
}
.user-row-item {
  flex: 1;
}
.user-row-item.large {
  flex: 150px;
}
.user-row-button {
  border: none;
  background-color: var(--light-bg-color);
  text-decoration: underline;
  color: blue;
  font-size: 14px;
}
.user-row-text {
  font-size: 14px;
  margin-left: 7px;
}
.user-checkbox {
  color: black;
}

/* USER VIEWS */
.orders-block {
  width: 90%;
  margin: auto;
}
.order-table {
  border: 2px solid var(--dark-color);
  border-radius: 4px;
  margin-top: 10px;
}
.order-row {
  font-size: 16px;
  background-color: var(--light-bg-color);
  padding: 4px;
  display: flex;
  flex-direction: row;
}
.order-row:hover:not(.header) {
  background-color: var(--dark-accent-color);
  color: var(--light-accent-color);
}
.no-orders-notice {
  font-size: 16px;
  background-color: var(--light-bg-color);
  padding: 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.order-row.header {
  background-color: var(--dark-color);
  color: var(--light-color);
  font-weight: bold;
}
.order-row-item {
  flex: 1;
}

/* Pagination controller */
.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination-button {
  color: var(--dark-color);
  margin: 5px;
  padding: 8px;
  text-decoration: none;
  background-color: var(--light-accent-color);
  border-radius: 4px;
  font-size: 12pt;
  border: none;
  margin: 10px;
}
.pagination-button.disabled {
  background-color: var(--light-bg-color);
  color: var(--muted-fg-color);
  cursor: initial;
}
.page-count-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90px;
}

/* admin menu */
.admin-button-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.admin-button-box button {
  color: var(--dark-color);
  margin: 5px;
  padding: 8px;
  text-decoration: none;
  background-color: var(--light-accent-color);
  border-radius: 4px;
  font-size: 10pt;
  border: none;
}
.admin-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  font-size: 25pt;
}

/* Large Product Card */
.single-product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.large-product-card {
  border: 2px solid;
  border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 4px;
  padding: 10px;
  width: 700px;
  display: flex;
  flex-direction: row;
}
.large-product-card-main-image {
  border-radius: 5px;
  width: 250px;
  height: 250px;
}
.tiny-image-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
}
.tiny-image {
  margin-right: 4px;
  border-radius: 4px;
  width: 50px;
  height: 50px;
}
.large-product-card-right {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  width: 100%;
  justify-content: space-between;
  /* align-items: center; */
}
.large-product-card-title {
  font-size: 26px;
  /* text-align: center; */
  margin-top: 10px;
  margin-bottom: 10px;
  color: var(--title-emphasis-color);
  cursor: pointer;
}
.large-product-card-price-row {
  margin-bottom: 10px;
}
.large-product-card-price {
  font-size: 20px;
  color: rgb(100, 100, 100);
}
.stock-indicator {
  font-size: 11px;
  margin-left: 10px;
  position: relative;
  top: -3px;
  border: 1px solid;
  border-radius: 4px;
  padding: 2px;
}
.in {
  color: green;
  border-color: green;
}
.out {
  color: salmon;
  border-color: salmon;
}
.large-product-card-categories {
  margin-bottom: 10px;
}
.large-product-card-description {
  font-size: 12px;
  margin-bottom: 10px;
}
.large-product-card-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.add-to-cart-container button {
  width: 150px;
}
.large-product-card-button {
  color: var(--dark-color);
  margin: 5px;
  padding: 8px;
  text-decoration: none;
  background-color: var(--light-accent-color);
  border-radius: 4px;
  font-size: 10pt;
  border: none;
  width: 200px;
}
.large-product-card-button.cart {
  background-color: orange;
}
.cart-qty-selector {
  color: var(--dark-color);
  margin: 5px;
  padding: 3px;
  text-decoration: none;
  background-color: var(--light-color);
  border-radius: 4px;
  font-size: 11pt;
  border: 2px solid darkgray;
  margin-top: 0px;
  margin-bottom: 5px;
  width: 40px;
  height: 30px;
  position: relative;
  top: 0px;
}
.large-category-link {
  color: var(--title-emphasis-color);
  margin: 1px;
  border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
  font-size: 15px;
  border-style: solid;
  border-width: 1px;
  padding: 1px 7px 2px;
  border-radius: 3px;
}

/* reviews */
.review-section-title {
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0px;
}
.review-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.review-card {
  border: 2px solid;
  border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 4px;
  width: 700px;
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.review-title {
  font-size: 20px;
}
.review-date {
  font-size: 14px;
  color: rgb(100, 100, 100);
}
.review-body {
  font-size: 12px;
}
.star {
  font-size: 20px;
}

/* ORDER VIEW  */
.order-view-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.order-view {
  width: 800px;
}
.order-view-header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.order-view-header {
  font-size: 18px;
  margin-top: 10px;
}
.order-view-header-small {
  font-size: 14px;
  margin-top: 0px;
}
.order-body {
  display: flex;
  flex-direction: row;
}
.order-body-left {
  flex: 2;
  padding: 10px;
}
.order-body-right {
  flex: 1;
}
.order-body-info-block {
  padding: 10px;
}
.order-product {
  border: 2px solid;
  border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.order-product-image {
  width: 100px;
  height: 100px;
  border-radius: 5px;
}
.order-product-left {
}
.order-product-cetner {
}
.order-product-right {
  flex: 3;
}
.order-inner-product-title {
  margin-left: 10px;
  font-size: 18px;
  color: var(--title-emphasis-color);
  text-decoration: none;
  cursor: pointer;
}
.order-product-math {
  font-size: 20px;
  text-align: right;
  margin-right: 10px;
  margin-top: 10px;
  margin-left: auto;
  width: 100px;
}
.math-hr {
  width: 70px;
  margin-right: 0px;
}
.remove-item-button {
  color: var(--dark-color);
  margin: 5px;
  padding: 8px;
  text-decoration: none;
  background-color: var(--light-accent-color);
  border-radius: 4px;
  font-size: 10pt;
  border: none;
}
.checkout-button {
  color: var(--dark-color);
  margin: 5px;
  padding: 8px;
  text-decoration: none;
  background-color: var(--light-accent-color);
  border-radius: 4px;
  font-size: 10pt;
  border: none;
}
.order-product-change-qty-button {
  color: var(--dark-color);
  margin: 5px;
  padding: 8px;
  text-decoration: none;
  background-color: var(--light-accent-color);
  border-radius: 4px;
  font-size: 10pt;
  border: none;
}
.order-product-qty-selector {
  color: var(--dark-color);
  margin: 5px;
  padding: 3px;
  text-decoration: none;
  background-color: var(--light-color);
  border-radius: 4px;
  font-size: 11pt;
  border: 2px solid darkgray;
  margin-top: 0px;
  margin-bottom: 5px;
  width: 40px;
  height: 30px;
  position: relative;
  top: 0px;
}
.order-status-selector {
  color: var(--dark-color);
  margin: 5px;
  padding: 3px;
  text-decoration: none;
  background-color: var(--light-color);
  border-radius: 4px;
  font-size: 11pt;
  border: 2px solid darkgray;
  margin-top: 0px;
  margin-bottom: 5px;
  width: 100px;
  height: 30px;
  position: relative;
  top: 0px;
}
.order-cart-buttons {
  margin-left: 10px;
}
